/* Variables */

:root {
    --main-dark: #1F2937;
    --main-white: #F9FAF8;
    --main-gray: #E5E7EB;
    --main-blue: #3882F6;
}

/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom Code */

body {
    background-color: var(--main-dark);  
}

.header {
    color: var(--main-white);
    padding: 1rem;
    margin: auto;
    max-width: 1080px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__text {
    font-size: 24px;
}

.nav {
    display: flex;
    gap: 1rem;
}

li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

