/* Variables */

:root {
  --main-dark: #1f2937;
  --main-white: #f9faf8;
  --main-gray: #e5e7eb;
  --main-blue: #3882f6;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Custom Code */

body {
  background-color: var(--main-dark);
  color: var(--main-white);
}

.header,
.hero {
  padding: 1rem;
  margin: auto;
  max-width: 1080px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3rem;
  gap: 2rem;
}

.header__text {
  font-size: 24px;
}

.nav {
  display: flex;
  gap: 1rem;
}

li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: var(--main-gray);
}

a:hover {
  opacity: 0.7;
}

.hero__left,
.hero__right {
  width: 50%;
}

.hero__main {
  font-size: 48px;
  font-weight: bolder;
}

.hero__seconday {
  font-size: 18px;
  color: var(--main-gray);
}

.hero__button {
  background-color: var(--main-blue);
  color: inherit;
  font-weight: bold;
  border-radius: 8px;
  padding: 5px 25px;
  margin-top: 0.75rem;
  font-size: 18px;
}

.info,
.cta {
  background-color: var(--main-white);
  color: var(--main-dark);
  text-align: center;
  padding: 3rem;
}

.info__header {
  font-size: 36px;
  margin-bottom: 1rem;
}

.facts {
  display: flex;
  max-width: 1000px;
  margin: auto;
  gap: 1rem;
}

.fact img {
  max-height: 300px;
  margin-bottom: 1rem;
}

.quote {
  background-color: var(--main-gray);
  color: var(--main-dark);
  text-align: center;
  padding: 3rem;
  
}

.quote-block {
    max-width: 840px;
    margin: auto;
}

.quote__text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.quote__name {
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 5rem;
}

.cta__container {
    max-width: 1080px;
    margin: auto;
    background-color: var(--main-blue);
    padding: 2rem 4rem;
    color: var(--main-white);
    border-radius: 15px;

    display: flex;
    justify-content: space-around;
    gap: 2rem;

    text-align: left;
}

.cta-header {
    font-size: 28px;
}

.cta__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta__button {
    background-color: var(--main-blue);
    color: var(--main-white);
    border: solid 2px var(--main-white);
    border-radius: 15px;
    font-weight: bold;
    padding: 0.5rem 2rem;
}

.footer {
    text-align: center;
    padding: 2rem;
    font-size: 18px;
}